services:
  frontend-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: frontend_dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules

  frontend-prod:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend_prod
    ports:
      - "8080:80"