# PostgreSQL
POSTGRES_HOST=postgres-offers
POSTGRES_PORT=5432
POSTGRES_DB=offers
POSTGRES_USER=postgres
POSTGRES_PASSWORD=zaq1@WSX

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Node server (headless_browser)
NODE_HOST=headless_browser
NODE_PORT=3000

# App settings
STATIC_NumberOfAvailablePortals=4
STATIC_JobsTimeoutMinutes=1
DELAY_BETWEEN_REQUESTS_MS=100

ApiKeys__GeminiKey=*Enter - GeminiKey*

# ASP.NET Environment
ASPNETCORE_ENVIRONMENT=Development