name: StudentWorkHub
services:
    # -----------------------------
    # DATABASES
    # -----------------------------
    db_general:
        build:
            context: ./databases/general_database/container

        restart: unless-stopped
        image: local/postgres-general:17.6
        container_name: postgres-general
        env_file: /srv/StudentWorkHub/env/db_general.env
        expose:
            - "5433"
        networks:
            - private
        volumes:
            - pg_general:/var/lib/postgresql/data
            
    db_offers:
        build:
            context: ./databases/offers_database/container

        restart: unless-stopped
        image: local/postgres-offers:17.6
        container_name: postgres-offers
        env_file: /srv/StudentWorkHub/env/db_offers.env
        expose:
            - "5432"
        networks:
            - private
        volumes:
            - pg_offers:/var/lib/postgresql/data
        
    db_backup:
        build:
            context: ./databases/db_backup

        restart: unless-stopped
        image: local/database-backup:17.6
        container_name: database-backup
        env_file: /srv/StudentWorkHub/env/db_backup.env
        depends_on:
            - db_general
        volumes:
            - db_general_backups:/backups/db_general
            - /srv/StudentWorkHub/backups/db_general:/repo_host
        networks:
            - private

    # -----------------------------
    # LOGS
    # -----------------------------
    log_server:
        build:
            context: ./log_server/server/
            args:
                APP_DIR: /log_server

        restart: unless-stopped
        container_name: log-server
        expose:
            - "54000"
            - "54001"
        networks:
            - private
        volumes:
            - logs:/log_server/logs
            - public_keys:/log_server/public_keys

    # -----------------------------
    # REDIS
    # -----------------------------
    redis:
        image: redis:7
        container_name: redis
        restart: unless-stopped
        expose:
            - "6379"
        networks:
            - private

    # -----------------------------
    # FRONTEND (PROD)
    # -----------------------------
    frontend-prod:
        build:
            context: ./frontend
            dockerfile: Dockerfile

        restart: unless-stopped
        container_name: frontend_prod
        expose:
            - "4000"
        networks:
            - private
        environment:
            - MODE=production
        depends_on:
            - offer_manager

    # -----------------------------
    # OFFER MANAGER (.NET API)
    # -----------------------------
    offer_manager:
        build:
            context: ./offer_collector
            dockerfile: Dockerfile.offer_manager

        restart: unless-stopped
        container_name: offer_manager
        environment:
            ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
            DatabaseSettings__Host: ${POSTGRES_HOST}
            DatabaseSettings__Port: ${POSTGRES_PORT}
            DatabaseSettings__Database: ${POSTGRES_DB}
            DatabaseSettings__Username: ${POSTGRES_USER}
            DatabaseSettings__Password: ${POSTGRES_PASSWORD}
            GeneralDatabaseSettings__Host: ${GENERAL_HOST}
            GeneralDatabaseSettings__Port: ${GENERAL_PORT}
            GeneralDatabaseSettings__Database: ${GENERAL_DATABASE}
            GeneralDatabaseSettings__Username: ${GENERAL_USERNAME}
            GeneralDatabaseSettings__Password: ${GENERAL_PASSWORD}
            RedisServer__Host: ${REDIS_HOST}
            RedisServer__Port: ${REDIS_PORT}
            StaticSettings__NumberOfAvailablePortals: ${STATIC_NumberOfAvailablePortals}
            StaticSettings__JobsTimeoutMinutes: ${STATIC_JobsTimeoutMinutes}
            ApiKeys__GeminiKey: ${GEMINI_KEY}
            ASPNETCORE_URLS: http://+:5059
        expose:
            - "5059"
        networks:
            - egress
            - private
        volumes:
            - public_keys:/log_server/public_keys
        depends_on:
            - redis
            - db_offers
            - db_general
            - headless_browser

    # -----------------------------
    # WORKER (.NET)
    # -----------------------------
    worker:
        build:
            context: ./offer_collector
            dockerfile: Dockerfile.worker

        restart: unless-stopped
        environment:
            ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
            DatabaseSettings__Host: ${POSTGRES_HOST}
            DatabaseSettings__Port: ${POSTGRES_PORT}
            DatabaseSettings__Database: ${POSTGRES_DB}
            DatabaseSettings__Username: ${POSTGRES_USER}
            DatabaseSettings__Password: ${POSTGRES_PASSWORD}
            RedisServer__Host: ${REDIS_HOST}
            RedisServer__Port: ${REDIS_PORT}
            NodeServer__Host: headless_browser
            NodeServer__Port: 3000
            DelayBetweenRequestsMs: ${DELAY_BETWEEN_REQUESTS_MS}
            ASPNETCORE_URLS: http://+:80
        networks:
            - egress
            - private
        depends_on:
            - redis
            - db_offers
            - headless_browser

    # -----------------------------
    # HEADLESS NODE BROWSER
    # -----------------------------
    headless_browser:
        build:
            context: ./offer_collector/headless_browser

        restart: unless-stopped
        container_name: headless_browser
        expose:
            - "3000"
        networks:
            - egress
            - private

    # -----------------------------
    # Caddy - reverse proxy
    # -----------------------------
    caddy:
        image: caddy:2-alpine
        container_name: caddy
        restart: unless-stopped
        ports:
            - "80:80"
            - "443:443"
        networks:
            - public
            - private
        volumes:
            - /srv/StudentWorkHub/configs/Caddyfile:/etc/caddy/Caddyfile:ro
            - caddy_data:/data
            - caddy_config:/config
        depends_on:
            - frontend-prod
            - offer_manager

# -----------------------------
# VOLUMES
# -----------------------------
volumes:
    caddy_data:
    caddy_config:
    pg_offers:
    pg_general:
    logs:
    public_keys:
    db_general_backups:

# -----------------------------
# NETWORKS
# -----------------------------
networks:
    public:
    egress:
    private:
        internal: true
