.main-button {
  height: auto;
  max-height: 45px;
  background: var(
    --button-gradient,
    linear-gradient(90deg, rgba(60, 131, 246, 1) 0%, rgba(30, 59, 138, 1) 100%)
  );
  color: var(--secondary-foreground);
  border-radius: 13px;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  justify-self: right;
  align-self: center;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 2px 6px 0px rgba(127, 195, 255, 0.3),
    -1px -2px 6px 0px rgba(0, 140, 255, 0.2);
    transition: transform 0.5s ease;
    cursor: pointer;
}
.main-button:hover {
  transform: scale(1.035);
}
.floating-input{
  border-radius: var(--radius);
  box-shadow: 2px 2px 16px 0px rgba(255, 255, 255, 0.25);
}
.find-mathing-job {
  color: var(--white, #f8faff);
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: var(--subHeaderSize);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-scale{
  background: var(
    --button-gradient,
    linear-gradient(90deg, rgba(60, 131, 246, 1) 0%, rgba(30, 59, 138, 1) 100%)
  ) !important;
  box-shadow: 1px 2px 6px 0px rgba(127, 195, 255, 0.3),
    -1px -2px 6px 0px rgba(0, 140, 255, 0.2);
    border-radius: 13px;
    color: var(--white, #f8faff);
  text-align: center;
  font-size: var(--subHeaderSize);
}
.scale-hover, .big-scale{
  transition: all 0.5s ease;
  cursor: pointer;
}
.scale-hover:hover {
  transform: scale(1.005);
}
.big-scale:hover{
  transform: scale(1.035);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}