.hero-page,
.hero-page * {
  box-sizing: border-box;
}
.hero-page {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.section-1 {
  background: var(--backgroundcolor, #0a0a0a);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: calc(100vh - 96px);
  position: relative;
}
.main-content-section-1 {
  padding: 0px 96px;
  display: flex;
  flex-direction: row;
  gap: 86px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.main-content-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
  height: 37vh;
  position: relative;
}
.main-text-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  gap: 15px;
  height: 10vh;
  position: relative;
}
.header-sec-1 {
  color: var(--blue, #3c83f6);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: var(--headerSize);
  font-weight: 700;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sub-header-sec-1 {
  color: var(--white, #f8faff);
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--subHeaderSize);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
}
.main-button {
  background: var(
    --button-gradient,
    linear-gradient(90deg, rgba(60, 131, 246, 1) 0%, rgba(30, 59, 138, 1) 100%)
  );
  border-radius: 13px;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 1px 2px 6px 0px rgba(127, 195, 255, 0.3),
    -1px -2px 6px 0px rgba(0, 140, 255, 0.2);
    transition: transform 0.5s ease;
    cursor: pointer;
}
.main-button > button{
  cursor: pointer;
}
.main-button:hover{
  transform: scale(1.035);
}
.find-mathing-job {
  color: var(--white, #f8faff);
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: var(--subHeaderSize);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unsplash-bb-s-bf-5-uv-50-a {
  border-radius: 14px;
  flex-shrink: 0;
  height: 250px;
  position: relative;
  box-shadow: -2px -2px 18px 0px rgba(255, 255, 255, 0.4);
  object-fit: cover;
}
.section-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 100vh;
  position: relative;
}
.home-trust-section {
  background: var(--backgroundcolor, #0a0a0a);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.main-header-sec-2 {
  color: var(--white, #f8faff);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: var(--headerSize);
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content-sec-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.wave {
  flex-shrink: 0;
  width: 3821px;
  height: 864px;
  transform: translate(0, 5%);
  position: absolute;
  overflow: visible;
}
.feature-section-list {
  display: flex;
  flex-direction: row;
  gap: 84px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.feature-element-item {
  background: var(--backgroundcolor, #0a0a0a);
  border-radius: 21.91px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 290px;
  position: relative;
  box-shadow: 2px 2px 10px 0px rgba(10, 10, 10, 1);
  transition: transform 0.5s ease;
}
.feature-element-item:hover{
  transform: scale(1.03);
}
.unsplash-376-kn-i-spl-e {
  border-radius: 21.91px;
  flex-shrink: 0;
  height: 200px;
  position: relative;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.feature-element-text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27.37px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  height: 185px;
  flex-shrink: 0;
  position: relative;
}
.feature-1 {
  color: var(--white, #f8faff);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: var(--semiHeader, 25px);
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.feature-desc {
  color: var(--white, #f8faff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: var(--mediumSize, 13px);
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.the-feature-or-any-details {
  color: var(--white, #f8faff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: var(--mediumSize, 13px);
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 106px;
}
.section-3 {
  background: var(--backgroundcolor, #0a0a0a);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 100vh;
  position: relative;
}
.main-header-sec-3 {
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: var(--headerSize);
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-header-sec-3-span {
  color: var(--white, #f8faff);
}
.main-header-sec-3-span2 {
  color: var(--bluenew, #3c83f6);
}
.how-works-section-items {
  padding: 0px 96px;
  display: flex;
  flex-direction: row;
  gap: 84px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.works-feature {
  display: flex;
  flex-direction: column;
  gap: 61px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 30vh;
  height: 450px;
  position: relative;
}
.works-feature-icon {
  background: var(--button-gradient);
  border-radius: 25.02px;
  padding: 0px 44.44px;
  display: flex;
  flex-direction: row;
  gap: 10.01px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 85px;
  height: 85px;
  position: relative;
  box-shadow: 1.2px 2.4px 12.1px 0px rgba(60, 131, 246, 0.55),
    4px 4px 8px 0px rgba(60, 131, 246, 0.35);
  transform-origin: 0 0;
  transform: rotate(4deg) scale(1, 1);
  aspect-ratio: 1;
  transition: transform 0.5s ease;
}
.works-feature-icon:hover{
  transform: scale(1.03);
}

.search-icon {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.vector {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.work-feature-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.feature-12 {
  color: var(--white, #f8faff);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: var(--subHeaderSize);
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description-of-feature-1 {
  color: var(--white, #f8faff);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: var(--mediumSize);
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.user-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
}
.vector2 {
  width: 88.89%;
  height: 90%;
  position: absolute;
  right: 5.56%;
  left: 5.55%;
  bottom: 5%;
  top: 5%;
  overflow: visible;
}
.robot-icon {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}