.hero-page,
.hero-page * {
  box-sizing: border-box;
}
.hero-page {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.home-hero-section {
  background: var(--backgroundcolor, #0a0a0a);
  align-self: stretch;
  flex-shrink: 0;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.main-content {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.main-content-frame {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1106px;
  position: relative;
}
.main-text-frame {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bold-and-porefull-heading {
  color: var(--blue, #3c83f6);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.bold-and-porefull-heading2 {
  color: var(--white, #f8faff);
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 130px;
}
.main-button {
  background: var(
    --button-gradient,
    linear-gradient(90deg, rgba(60, 131, 246, 1) 0%, rgba(30, 59, 138, 1) 100%)
  );
  border-radius: 13px;
  padding: 18px 29px 18px 29px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 1px 2px 6px 0px rgba(127, 195, 255, 0.3),
    2px 4px 18px 0px rgba(114, 191, 255, 0.2),
    -2px -4px 18px 0px rgba(0, 140, 255, 0.2),
    -1px -2px 6px 0px rgba(0, 140, 255, 0.2);
}
.find-mathing-job {
  color: var(--white, #f8faff);
  text-align: center;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unsplash-bb-s-bf-5-uv-50-a {
  border-radius: 14px;
  flex-shrink: 0;
  width: 581px;
  height: 400px;
  position: relative;
  box-shadow: -2px -2px 18px 0px rgba(255, 255, 255, 0.4);
  object-fit: cover;
}
.home-trust-section {
  background: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 893px;
  position: relative;
  overflow: hidden;
}
.features-and-benefits {
  color: var(--white, #f8faff);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-155 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 765px;
  position: relative;
}
.vector {
  flex-shrink: 0;
  width: 3821px;
  height: 765px;
  position: absolute;
  overflow: visible;
}
.cards {
  border-radius: 40px;
  padding: 69px 47px 69px 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.feature-section-list {
  display: flex;
  flex-direction: row;
  gap: 84px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 450.24px;
  position: relative;
}
.feature-element-item {
  background: #0a0a0a;
  border-radius: 21.91px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
  box-shadow: 2px 2px 10px 0px rgba(10, 10, 10, 1);
}
.unsplash-376-kn-i-spl-e {
  border-radius: 21.91px;
  align-self: stretch;
  flex-shrink: 0;
  height: 240.24px;
  position: relative;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.feature-element-text {
  padding: 28.13px;
  display: flex;
  flex-direction: column;
  gap: 27.37px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 359px;
  height: 210px;
  position: relative;
}
.feature-1 {
  color: var(--white, #f8faff);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 27.920021057128906px;
  font-weight: 700;
  position: relative;
  width: 303px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.the-feature-or-any-details {
  color: var(--white, #f8faff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 19px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  width: 303px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.the-feature-or-any-details2 {
  color: var(--white, #f8faff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 19px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  width: 303px;
  height: 106px;
}
.how-works-section {
  background: #0a0a0a;
  align-self: stretch;
  flex-shrink: 0;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.how-student-work-hub-works {
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 118px;
  width: 1440px;
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-student-work-hub-works-span {
  color: var(--white, #f8faff);
}
.how-student-work-hub-works-span2 {
  color: var(--bluenew, #3c83f6);
}
.how-works-section-items {
  display: flex;
  flex-direction: row;
  gap: 84px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 328px;
}
.works-feature {
  display: flex;
  flex-direction: column;
  gap: 61px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.works-feature-icon {
  background: #3c83f6;
  border-radius: 30.02px;
  padding: 0px 44.44px 0px 44.44px;
  display: flex;
  flex-direction: row;
  gap: 12.01px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 128px;
  height: 128px;
  position: relative;
  box-shadow: 1.2px 2.4px 12.1px 0px rgba(60, 131, 246, 0.55),
    4px 4px 8px 0px rgba(60, 131, 246, 0.35);
  transform-origin: 0 0;
  transform: rotate(4deg) scale(1, 1);
  aspect-ratio: 1;
}
.search-icon {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.vector2 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.work-feature-text {
  display: flex;
  flex-direction: column;
  gap: 62.45px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.feature-12 {
  color: var(--white, #f8faff);
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 32px;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description-of-feature-1 {
  color: var(--white, #f8faff);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 24.01913833618164px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-icon {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
}
.vector3 {
  width: 88.89%;
  height: 90%;
  position: absolute;
  right: 5.56%;
  left: 5.55%;
  bottom: 5%;
  top: 5%;
  overflow: visible;
}
.robot-icon {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
