.navigation-with-short-logo,
.navigation-with-short-logo * {
  box-sizing: border-box;
}
.navigation-with-short-logo {
  background: rgba(0, 0, 0, 0.01);
  padding: 0px 96px;
  display: flex;
  height: 96px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: var(
    --navigationshadow-box-shadow,
    0px 2px 8px 0px rgba(60, 131, 246, 1)
  );
  z-index: 3;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: auto;
  position: relative;
}
.register-button{
  padding: 7px 15px !important;
  border-radius: 8px !important;
}
.student-work-hub-logo-1 {
  flex-shrink: 0;
  height: 50.38px;
  position: relative;
  object-fit: cover;
}
.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 0 10px;
  position: relative;
}
.student-work-hub {
  color: var(--white, #f8faff);
  text-align: center;
  font-size: var(--subHeaderSize);
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 45.75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subtitle-student-work-hub{
  margin: -18px 0 0 0;
  color: var(--white, #f8faff);
  text-align: center;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 39.75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-frame {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.user {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
  transform: rotate(-4deg);
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

/* Menu boczne */
.sideMenu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background: var(--background);
  z-index: 50;
  padding: 24px;
  transition: right 0.3s ease-in-out;
}

/* Gdy menu otwarte */
.sideMenu.open {
  right: 0;
}

.sideMenu ul {
  list-style: none;
  padding: 0;
}

.sideMenu li {
  padding: 12px 0;
  cursor: pointer;
  font-weight: 500;
}