/* .offer-details-view,
.offer-details-view * {
  box-sizing: border-box;
}
.offer-details-view {
  padding: 40px 96px 70px 96px;
  display: grid;
  gap: 0px;
  position: relative;
  grid-template-columns: minmax(0, 2.5fr) minmax(0, 1fr);
  grid-template-rows: repeat(1, fit-content(100%));
}
.general-details {
  display: flex;
  flex-direction: column;
  gap: 55px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.categories-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.leading-category {
  color: var(--blue, #3c83f6);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.chevron-right {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.subcategory-subcategory {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.general-header {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.companyWrapper {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
}
.offer-details-view .company {
  max-width: 100%;
  max-height: 100%;
  color: #000;
  object-fit: contain;
}
.header-of-details {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.job-main-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.job-title {
  color: var(--blue, #3c83f6);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: var(--headerSize);
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.company-name {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--subHeader);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  transform-origin: 0 0;
  transform: rotate(0.175deg) scale(1, 1);
}
.frame-73 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: absolute;
  right: 0.29px;
  top: 0px;
}
._100-200-z {
  color: var(--blue, #3c83f6);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: var(--semiHeader);
  font-weight: 700;
  position: relative;
}
.expire-progress {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-50 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-49 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 220px;
  position: relative;
}
.frame-52 {
  background: #d9d9d9;
  border-radius: 18.2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 18px;
  position: relative;
}
.rectangle-3 {
  background: var(--blue, #3c83f6);
  border-radius: 18.2px;
  flex-shrink: 0;
  width: 108px;
  height: 18px;
  position: relative;
}
.expires-in-x-days {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.to-dd-mm {
  color: #9d9d9d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
}
.line-1 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.general-info-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.skill-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.skill-section-row {
  align-self: stretch;
  flex: 1;
  display: grid;
  gap: 42px;
  row-gap: 0px;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.frame-163 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 10px 0px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.file-text {
  flex-shrink: 0;
  width: 24px;
  position: relative;
  overflow: visible;
}
.job-category {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-162 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  position: relative;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.map-pin {
  flex-shrink: 0;
  width: 24px;
  position: relative;
  overflow: visible;
}
.city-name {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  flex-shrink: 0;
  width: 24px;
  position: relative;
  overflow: visible;
}
.work-place {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.briefcase {
  flex-shrink: 0;
  width: 24px;
  position: relative;
  overflow: visible;
}
.work-type {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dollar-sign {
  flex-shrink: 0;
  width: 24px;
  position: relative;
  overflow: visible;
}
.salary-type {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pie-chart {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.work-schedule {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.required-skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  gap: 80px;
  position: relative;
}
.required-skills {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: var(--subHeader);
  font-weight: 700;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.skill-section-content2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.skill-section-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.skill-name {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-section-months {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.clock {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.skill-months {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-section-level {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.award {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.skill-level {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-circle2 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.clock2 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.award2 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.line-3 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.required-languages-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 251px;
  position: relative;
}
.required-languages {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.language-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.skill-language-row {
  align-self: stretch;
  flex: 1;
  display: grid;
  gap: 42px;
  row-gap: 0px;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.frame-1632 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 62.75px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.file-text2 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.language-level {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-1622 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 62.75px;
  position: relative;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.award3 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.file-text3 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.award4 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.line-4 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.benefits-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 251px;
  position: relative;
}
.benefits {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.benefits-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.benefit-skill-row {
  align-self: stretch;
  flex: 1;
  display: grid;
  gap: 42px;
  row-gap: 0px;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.gift {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.benefit-name {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gift2 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.gift3 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.gift4 {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  overflow: visible;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.apply-for-offer-button {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 103.8px;
  position: relative;
}
.frame-165 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.right-column-details {
  padding: 110px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 110px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.education-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.required-education {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: var(--subHeader);
  font-weight: 700;
  position: relative;
  align-self: stretch;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-85 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.education-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 49px;
  position: relative;
}
.education {
  flex-shrink: 0;
  width: 30px;
  position: relative;
  overflow: visible;
}
.educ-level {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  width: 138px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-circle3 {
  flex-shrink: 0;
  width: 34px;
  height: 34px;
  position: relative;
  overflow: visible;
}
.education2 {
  flex-shrink: 0;
  width: 48.8px;
  height: 48.8px;
  position: relative;
  overflow: visible;
}
.check-circle4 {
  flex-shrink: 0;
  width: 34px;
  height: 34px;
  position: relative;
  overflow: visible;
} */

.offer-details-view,
.offer-details-view * {
  box-sizing: border-box;
}
.offer-details-view {
  padding: var(--detailsitemspacing, 30px) 96px 100px 96px;
  display: flex;
  flex-direction: column;
  gap: var(--detailsitemspacing, 30px);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.offer-details-view-navigation {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.go-back-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.go-back {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--subheader, 16px);
  font-weight: 400;
  position: relative;
}
.categories-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.leading-category {
  color: var(--blue, #3c83f6);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: var(--medium, 13px);
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.chevron-right {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.subcategory-subcategory {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--medium, 13px);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.offer-details-view-content {
  align-self: stretch;
  flex-shrink: 0;
  display: grid;
  gap: 0px;
  row-gap: var(--detailsitemspacing, 30px);
  position: relative;
  grid-template-columns: minmax(0, 1fr) minmax(0, 0.3fr);
  grid-template-rows: repeat(1, fit-content(100%));
}
.general-details {
  display: flex;
  flex-direction: column;
  gap: var(--detailsitemspacing, 30px);
  align-items: flex-start;
  justify-content: center;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.general-header {
  display: flex;
  flex-direction: row;
  gap: var(--detailsitemspacing, 30px);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.offer-details-view .companyWrapper {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
}
.offer-details-view .company {
  max-width: 100%;
  max-height: 100%;
  color: #000;
  object-fit: contain;
}
.offer-details-view-navigation .scale-hover:hover{
  transform: scale(1.05);
}
.header-of-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.job-main-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.job-title {
  color: var(--blue, #3c83f6);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: var(--semiHeader, 16px);
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.company-name {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--subheader, 16px);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  transform-origin: 0 0;
  transform: rotate(0.175deg) scale(1, 1);
}
.frame-73 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
._100-200-z {
  color: var(--blue, #3c83f6);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: var(--subheader, 16px);
  font-weight: 700;
  position: relative;
}
.expire-progress {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-50 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-49 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 220px;
  height: 14px;
  position: relative;
}
.frame-52 {
  background: var(--secondary);
  border-radius: 18.2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 14px;
  position: relative;
}
.rectangle-3 {
  background: var(--primary, #3c83f6);
  border-radius: 18.2px;
  flex-shrink: 0;
  width: 108px;
  height: 14px;
  position: relative;
}
.expires-in-x-days {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.to-dd-mm {
  color: #9d9d9d;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize);
  font-weight: 400;
  position: relative;
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(248, 250, 255, 0.2);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.skill-section-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.skill-section-row {
  padding: 0px 10px 0px 10px;
  align-self: stretch;
  flex-shrink: 0;
  display: grid;
  gap: 0px;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, fit-content(100%));
}
.skill-section-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.required-skills-section img{
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.required-skills-section .find-mathing-job{
  font-size: 12px;
}
.map-pin {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.city-name {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--mediumSize, 13px);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-section-item2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
.map-pin2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.skill-section-item3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.file-text {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.briefcase {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.map-pin3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.home {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.pie-chart {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.map-pin4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.dollar-sign {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.required-skills-section {
  padding: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: var(--detailsitemspacing, 30px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-168 {
  display: flex;
  flex-direction: column;
  gap: var(--detailsitemspacing, 30px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-166 {
  padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.required-skills {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: var(--semiHeaderSize, 21px);
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.line-10 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--blue, #3c83f6);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.pie-chart2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.award {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.check-circle {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.pie-chart3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.award2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.check-circle2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-172 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-172 .main-button{
  border-radius: 8px;
  padding: 7px 15px;
  box-shadow: none;
}
.award3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.file-text2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.award4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.file-text3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.education {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.education2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.education3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.education4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.gift {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.gift2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.gift3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.gift4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.gift5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.gift6 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(248, 250, 255, 0.2);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.right-column-details {
  display: flex;
  flex-direction: column;
  gap: var(--detailsitemspacing, 30px);
  align-items: center;
  justify-content: flex-start;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}