.options-nav-menu {
  background: rgba(0, 0, 0, 0.01);
  border-radius: 25px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  position: relative;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.user-profile-nav-item {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 190px;
  position: relative;
}
.user {
  flex-shrink: 0;
  width: 20px;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.profile {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: var(--subHeader);
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.check-circle {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.briefcase {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.sliders {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.log-in {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}