.frame-174,
.frame-174 * {
  box-sizing: border-box;
}
.frame-174 {
  display: grid;
  padding: 70px 96px;
  position: relative;
  gap: 8%;
  width: 100%;
  grid-template-columns: 0fr 1fr;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.card-name {
  color: var(--primary, #3c83f6);
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: var(--semiHeader);
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}